doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Tugas

    link(rel="stylesheet" type="text/css" href="build/build.css")

  body

    article

      section
        h1 Mobil Otonom

        h2 BackpropagationTI-B 

      section
        h2 Apa itu Mobil Otonom
        h3 Mobil yang bisa melaju tanpa bantuan pengemudi dengan menggunakan serangkaian sensor seperti:
        ul
        li Kamera Digital 
        li Gps 
        li Radar 
        li Electronic Control Unit 


      section
        h2 Level Mobil Otonom ada 5 seperti:
        ul
        li Level 0 : tidak ada fungsi otomatis
        li level 1 : Fungsi yang membantu pengemudi misal nya ACC atau Adaptive Cruise Control
        li level 2 : Sistem bantuan untuk Pengemudi misalnya, mengontrol kecepatan, pengereman, dan kontrol kemudi
        li level 3 : Mobil otonom dalam beberapa situasi, namun dengan ada nya intervensi pengemudi
        li level 4 : Mobil otonom bisa dalam beberapa situasi tanpa kontrol pengemudi 
        li level 5 : Mobil otonom sepenuh nya


      section
        h2(class="h2") Berikut alasan mobil otonom lebih baik dibandingkan mobil konvensional.
        p(class="1") &nbsp&nbsp&nbsp&nbspMobil tanpa pengemudi dirancang untuk memiliki kemampuan mengenali dunia di sekitarnya dengan menggunakan banyak sensor untuk mengumpulkan jutaan data tentang lingkungan dan kondisi jalan. Sensor yang disematkan diharapkan dapat bekerja dengan baik di lingkungan yang terus berubah. Sederhananya, perusahaan otomotif dan teknologi dengan jeli mempelajari dan meniru pola berkendara manusia dengan mengunakan sensor ini. Alasan utamanya tentu kehadiran sensor pintar mobil bisa menjamin keamanan dan keselamatan orang yang berada di dalamnya.


      section
        h2 Prusahaan yg membangun Mobil Otonom
        ul
          li Teslla
          li Google
          li Toyota
          li Volvo

      section
        h2 Harga Mobil Otonom
        p
           Penambahan harga untuk mobil otonom ini ditentukan oleh berbagai macam perangkat canggih yang diintegrasikan ke dalam mobil. Konsumen akan membayar lebih untuk tambahan on board computer, sensor, radar, kamera, scanner, hingga LIDAR untuk membuat mobil menjai pintar. Menurut Volvo Mobil Otonom Bisa Lebih Mahal US$ 14 Ribu Karena Komponen Pintarnya.


      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Mobil Otonom
        img(src='build/1.jpg') 
        br
        img(src='build/2.jpg')

      section
        h2. Terima Kasih
        br
        p BackpropagationTI-B 
        ul
          li Ryan Tri Nugraha
          li Mulia Adha Siregar
          li Irdian Afan Syahbana
          li Chalid Anwar

script(src='build/build.js')